main {
  position: fixed;
  display: block;
  left: 280px;
  right:0;
  top:0;
  bottom:0;
  box-sizing: border-box;
  padding: 20px 35px;
  background: #fafaf9;
  overflow-y: auto;
}

header {
  margin-bottom: 60px;
}

nav {
  position: fixed;
  display: block;
  width: 280px;
  box-shadow: -5px 0 30px #a3a3a3;
  box-sizing: border-box;
  color: #fdfdfd;
  top:0;
  left:0;
  bottom:0;
}

nav ul {
  display: block;
  margin-top: calc(50% - 200px);
}

nav .status-wrap {
  padding: 25px;
}

nav .vert-pad {
  display: block;
  height: 50px;
}

.progress {
  text-align: center;
  margin-top: 40vh;
}
