main {
  position: fixed;
  display: block;
  left: 240px;
  right:0;
  top:0;
  bottom:0;
  box-sizing: border-box;
  padding: 20px 35px;
  background: #fafaf9;
}

nav {
  position: fixed;
  display: block;
  width: 240px;
  box-shadow: -5px 0 30px #a3a3a3;
  box-sizing: border-box;
  color: #fdfdfd;
  padding-top: 250px;
  top:0;
  left:0;
  bottom:0;
}

nav ul {
  display: block;
  margin-top: calc(50% - 200px);
}

.progress {
  text-align: center;
  margin-top: 40vh;
}
